<div class="bg-blue-800 p-2 shadow text-xl text-white">
  <h3 class="font-bold pl-2">Analytics</h3>
</div>
<div class="flex flex-wrap" *ngIf="patientsStore | async as store">
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <!--Metric Card-->
    <app-metric color="purple" icon="wallet">
      <span metric-title>Total Revenue</span>
      ${{ store.count * 50 }}
    </app-metric>
    <!--/Metric Card-->
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <!--Metric Card-->
    <app-metric color="orange" icon="users">
      <span metric-title>Total Patients</span>
      {{ store.count }}
    </app-metric>
    <!--/Metric Card-->
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <!--Metric Card-->
    <app-metric color="yellow" icon="user-plus">
      <span metric-title>Recent Patients</span>
      {{ (recents | async).length }}
    </app-metric>
    <!--/Metric Card-->
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <!--Metric Card-->
    <app-metric color="blue" icon="server">
      <span metric-title>Server Uptime</span>
      {{ uptime }} days
    </app-metric>
    <!--/Metric Card-->
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <!--Metric Card-->
    <app-metric color="indigo" icon="syringe">
      <span metric-title>Uninsured Patients</span>
      {{ (uninsured | async).length }}
    </app-metric>
    <!--/Metric Card-->
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <!--Metric Card-->
    <app-metric color="red" icon="inbox">
      <span metric-title>Missing Emails</span>
      {{ (emails | async).length }}
    </app-metric>
    <!--/Metric Card-->
  </div>
</div>

<div class="flex flex-row flex-wrap flex-grow mt-2">
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <!--Graph Card-->
    <app-card>
      <span card-title>Uninsured Patients</span>
      <table class="w-full p-5 text-gray-700">
        <thead>
          <tr>
            <th class="text-left text-blue-900">Name</th>
            <th class="text-left text-blue-900">Phone</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let patient of sample(uninsured | async)">
            <td>
              {{ patient.name.last + ', ' + patient.name.first }}
            </td>
            <td>{{ patient.phone }}</td>
          </tr>
        </tbody>
      </table>
    </app-card>
    <!--/Graph Card-->
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <!--Graph Card-->
    <app-card>
      <span card-title>Recent Patients</span>
      <table class="w-full p-5 text-gray-700">
        <thead>
          <tr>
            <th class="text-left text-blue-900">Name</th>
            <th class="text-left text-blue-900">Phone</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let patient of sample(recents | async)">
            <td>
              {{ patient.name.last + ', ' + patient.name.first }}
            </td>
            <td>{{ patient.phone }}</td>
          </tr>
        </tbody>
      </table>
    </app-card>
    <!--/Graph Card-->
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <!--Graph Card-->
    <app-card>
      <span card-title>Patients Without Email</span>
      <table class="w-full p-5 text-gray-700">
        <thead>
          <tr>
            <th class="text-left text-blue-900">Name</th>
            <th class="text-left text-blue-900">Phone</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let patient of sample(emails | async)">
            <td>
              {{ patient.name.last + ', ' + patient.name.first }}
            </td>
            <td>{{ patient.phone }}</td>
          </tr>
        </tbody>
      </table>
    </app-card>
    <!--/Graph Card-->
  </div>
</div>
