<div class="bg-gray-900 h-full">
  <div class="w-full">
    <ul
      class="list-reset flex flex-col px-1 md:px-3 text-center md:text-left"
    >
      <li class="mr-3 flex-1">
        <a
          routerLink="/patients"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive
          #rlaDash="routerLinkActive"
          [ngClass]="
            rlaDash.isActive ? 'border-blue-600' : 'border-gray-800'
          "
          class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:border-blue-600 border-b-2 text-center xl:text-left"
        >
          <i
            [ngClass]="rlaDash.isActive ? 'text-blue-600' : ''"
            class="fas fa-chart-area pr-0 xl:pr-3"
          ></i
          ><span
            class="hidden xl:inline-block pb-1 md:pb-0 text-xs md:text-base text-white md:text-white"
            >Dashboard</span
          >
        </a>
      </li>
      <li class="mr-3 flex-1">
        <a
          routerLink="/patients/edit"
          routerLinkActive
          #rlaEdit="routerLinkActive"
          [ngClass]="
            rlaEdit.isActive ? 'border-pink-500' : 'border-gray-800'
          "
          class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 hover:border-pink-500 text-center xl:text-left"
        >
          <i
            [ngClass]="rlaEdit.isActive ? 'text-pink-500' : ''"
            class="fas fa-tasks pr-0 xl:pr-3"
          ></i
          ><span
            class="hidden xl:inline-block pb-1 md:pb-0 text-xs md:text-base text-white md:text-gray-400"
            >Editor</span
          >
        </a>
      </li>
    </ul>
  </div>
</div>
