<div class="bg-blue-800 p-2 shadow text-xl text-white">
  <h3 class="font-bold pl-2">Patient Editor</h3>
</div>

<form
  [formGroup]="patient"
  ngxsForm="patients.selected"
  (ngSubmit)="submit()"
  class="w-full xl:w-2/3 mx-auto px-4 py-6"
>
  <app-card>
    <h1 card-title>
      {{ patient.name ? patient.name.last_name : 'New Patient' }}
    </h1>
    <fieldset class="mb-5 appearance-none" formGroupName="name">
      <!-- <h3 class="text-lg mb-2">Name</h3> -->
      <div class="flex">
        <label class="flex flex-col flex-grow">
          <input
            class="appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
            type="text"
            placeholder="John"
            formControlName="first"
            required
          />
          <span class="text-xs text-gray-700 ml-4">First Name</span>
        </label>
        <label class="mx-4 flex flex-col flex-shrink">
          <input
            class="w-full appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
            type="text"
            placeholder="W"
            formControlName="middle"
          />
          <span class="text-xs text-gray-700 ml-4">M.I.</span>
        </label>
        <label class="flex flex-col flex-grow">
          <input
            type="text"
            placeholder="Doe"
            formControlName="last"
            required
            class="appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
          />
          <span class="text-xs text-gray-700 ml-4">Last Name</span>
        </label>
      </div>
    </fieldset>
    <div class="flex mb-5">
      <label class="mr-4 flex flex-col flex-shrink">
        <input
          type="date"
          formControlName="dob"
          required
          style="padding-bottom: 1.5px;"
          class="appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
        />
        <span class="text-xs text-gray-700 ml-4">Date of Birth</span>
      </label>
      <label class="flex flex-col flex-shrink">
        <div class="relative">
          <select
            formControlName="gender"
            required
            class="appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 pr-8 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
          >
            <option value="">--Select an option--</option>
            <option value="true">Male</option>
            <option value="false">Female</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
        <span class="text-xs text-gray-700 ml-4">Gender</span>
      </label>
    </div>
    <div class="flex mb-10">
      <label class="mr-4 flex flex-col flex-grow">
        <input
          type="email"
          placeholder="jdoe@example.com"
          formControlName="email"
          class="appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
        />
        <span class="text-xs text-gray-700 ml-4">Email</span>
      </label>
      <label class="flex flex-col flex-grow">
        <input
          type="tel"
          placeholder="2487779948"
          class="appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
          formControlName="phone"
          required
        />
        <span class="text-xs text-gray-700 ml-4">Phone</span>
      </label>
    </div>
    <!-- pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" -->

    <fieldset class="appearance-none" formGroupName="address">
      <div class="flex mb-5">
        <label class="mr-4 flex flex-col flex-grow">
          <input
            type="text"
            placeholder="1452 Right Way"
            formControlName="line_1"
            required
            class="appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
          />
          <span class="text-xs text-gray-700 ml-4">Line 1</span>
        </label>
        <label class="flex flex-col flex-grow">
          <input
            type="text"
            placeholder="Apt. #5"
            formControlName="line_2"
            class="appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
          />
          <span class="text-xs text-gray-700 ml-4">Line 2</span>
        </label>
      </div>
      <div class="flex mb-10">
        <label class="flex flex-col flex-grow">
          <input
            type="text"
            placeholder="Yorkshire"
            formControlName="city"
            required
            class="appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
          />
          <span class="text-xs text-gray-700 ml-4">City</span>
        </label>
        <label class="flex flex-col mx-4 flex-shrink">
          <input
            class="w-full appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
            type="text"
            placeholder="NY"
            formControlName="state"
            required
          />
          <span class="text-xs text-gray-700 ml-4">State</span>
        </label>
        <label class="flex flex-col flex-grow">
          <input
            type="text"
            placeholder="44864"
            pattern="[0-9]{5}"
            formControlName="zip"
            required
            class="appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
          />
          <span class="text-xs text-gray-700 ml-4">Zip Code</span>
        </label>
      </div>
    </fieldset>

    <div class="flex mb-6">
      <label class="flex flex-col mr-4 flex-grow">
        <input
          type="text"
          placeholder="Blue Care Network"
          formControlName="insurance"
          class="appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
        />
        <span class="text-xs text-gray-700 ml-4">Insurance</span>
      </label>
      <label class="flex flex-col flex-grow">
        <input
          type="date"
          style="padding-bottom: 1.5px;"
          formControlName="last_exam"
          required
          class="appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
        />
        <span class="text-xs text-gray-700 ml-4">Last Exam</span>
      </label>
    </div>
    <label class="flex flex-col mb-6">
      <textarea
        formControlName="notes"
        placeholder="Something meaningful..."
        class="appearance-none border-t border-gray-300 bg-gray-100 rounded py-2 px-4 transition-all duration-500 ease-in-out shadow-inner focus:outline-none focus:shadow-none"
      ></textarea>
      <span class="text-xs text-gray-700 ml-4">Notes</span>
    </label>
    <div class="flex">
      <button
        type="submit"
        class="mr-2 bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded focus:outline-none"
      >
        Submit
      </button>
      <button
        type="button"
        (click)="reset()"
        class="bg-orange-500 hover:bg-orange-400 text-white font-bold py-2 px-4 border-b-4 border-orange-700 hover:border-orange-500 rounded focus:outline-none"
      >
        Reset
      </button>
    </div>
  </app-card>
</form>
